
html {
    overflow-x:hidden;
}

/*navbar stuff*/
.navbar-brand {
    width:40px;
    height:30px;
    padding:10px 10px;
}

.navbar {
    height:70px;
    position:sticky;
}

.nav-item {
    font-size:20px;
    padding-left:10px;
    padding-right:10px;
    font-weight:500;
}

.nav-link {
    background-color:darkred;
    border-radius:6px;
    color:white;
}

.nav-link:hover {
    background-color:darkred;
    border-radius:6px;
    color:black;
    transform:scale(1.2);
}

/*jumbotron stuff*/
.jumbotron {
    background:url(imgs/costcologo.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    height:600px;
    filter: brightness(0.8);
    box-shadow:inset 0px -130px 150px 0px black;
}

.fw-bold {
    color:white;
    text-align:center;
    margin-top:80px;
    padding-right:50px;
    font-size:90px;
    position:relative;
    text-shadow:10px 10px 30px black;
}


/*main content*/

body {
    background-color:darkred;
    box-shadow: inset 0px -70px 180px 0px black;
}

/*About*/

.about {
    background-color:rgba(255, 255, 255, 0.622);
    
}

.about-heading {
    text-align:center;
    font-size:80px;
    color:darkred;
    padding-top:50px;
}


/*food*/

.food-heading {
    text-align:center;
    font-size:80px;
    color:white;
    padding-top:50px;
}

/*clothing*/

.clothing {
    background-color:rgba(255, 255, 255, 0.622);

}

.clothing-heading {
    text-align:center;
    font-size:80px;
    color:darkred;
    padding-top:50px;
}

/*convenience*/

.convenience-heading {
    text-align:center;
    font-size:80px;
    color:white;
    padding-top:50px;
}

/*overall ratings*/

.overallrating {
    background-color:rgba(255, 255, 255, 0.622);

}

.rating-heading {
    text-align:center;
    font-size:80px;
    color:darkred;
    padding-top:50px;
}