
html {
    overflow-x:hidden;
}

/*navbar stuff*/
.navbar-brand {
    width:40px;
    height:30px;
    padding:10px 10px;
}

.navbar {
    height:70px;
    position:fixed;
    width:100%;
    z-index:3;
}



.nav-item {
    font-size:20px;
    padding-left:10px;
    padding-right:10px;
    font-weight:500;
}

.nav-link {
    background-color:darkred;
    border-radius:6px;
    color:white;
}

.nav-link:hover {
    background-color:darkred;
    border-radius:6px;
    color:black;
    transform:scale(1.2);
}

/*jumbotron stuff*/
.jumbotron {
    background:url(imgs/costcologo.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    height:600px;
    filter: brightness(0.8);
    box-shadow:inset 0px -130px 150px 0px black;
}

.fw-bold {
    color:white;
    text-align:center;
    margin-top:80px;
    padding-right:50px;
    font-size:90px;
    position:relative;
    text-shadow:10px 10px 30px black;
}


/*main content*/

body {
    background-color:darkred;
    box-shadow: inset 0px -70px 180px 0px black;
}

.card-rating-text {
    text-align:center;
}

/*About*/

.about {
    background-color:rgba(255, 255, 255, 0.622);
    padding-bottom:40px;
}

.about-heading {
    text-align:center;
    font-size:80px;
    color:darkred;
    padding-top:50px;
}

.about-img {
    justify-content:center;
}

.about-paragraph {
    text-align:center;
    font-size:30px;
    color:darkred;
}

.about-rating {
    text-align:center;
    font-size:50px;
    color:darkred;
}


/*food*/

.food {
    padding-bottom:40px;
}

.food-heading {
    text-align:center;
    font-size:80px;
    color:white;
    padding-top:50px;
}

.food-category {
    color:white;
    font-size:50px;
    padding-top:20px;
    text-align:center;
}

.carousel-control-prev-icon {
    background-color:black;
    z-index:0;
    position:relative;
}
.carousel-control-next-icon {
    background-color:black;
    z-index:0;
    position:relative;
}


.food-rating {
    text-align:center;
    font-size:50px;
    color:white;
}

/*clothing*/

.clothing {
    background-color:rgba(255, 255, 255, 0.622);
    padding-bottom:40px;
}

.clothing-heading {
    text-align:center;
    font-size:80px;
    color:darkred;
    padding-top:50px;
}

.clothing-category {
    color:darkred;
    font-size:50px;
    padding-top:20px;
    text-align:center;
}

.clothing-rating {
    text-align:center;
    font-size:50px;
    color:darkred;
}

/*convenience*/

.convenience {
    padding-bottom:40px;
}

.convenience-heading {
    text-align:center;
    font-size:80px;
    color:white;
    padding-top:50px;
}

.convenience-table {
    text-align:center;
    padding:20px 20px;
    font-size:30px;
    border:2px solid white;
}

.convenience-table-heading {
    text-align:center;
    padding:20px 20px;
    font-size:40px;
    border:2px solid white;
    color:white;
}

.convenience-table-text {
    text-align:center;
    padding:20px 20px;
    border:2px solid white;
    color:white;
}

/*overall ratings*/

.overallrating {
    background-color:rgba(255, 255, 255, 0.622);
    padding-bottom:40px;
}

.rating-heading {
    text-align:center;
    font-size:80px;
    color:darkred;
    padding-top:50px;
}